.soc_blk {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    box-shadow: 3px 4px 10px -2px #e0e0e0;
    box-sizing: border-box;
    font-size: 14px;
    height: 90px;
    margin: 20px auto;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 99.6%;
}
.soc_blk:first-child {
    margin: 3px 0 20px;
}
.soc_ava {
    float: left;
    height: 100%;
    width: 90px;
}
.soc_blk .soc_ava img {
    border:  none;
    height: 100% !important;
    max-width: none;
    transform: translateX(-6px);
    transition: all 0.4s ease 0s;
    width: auto;
}
.soc_blk .soc_ava img:hover {
    transform: translateX(0px);
    transition: all 0.4s ease 0s;
}
.soc_content::before {
    background-color: #fff;
    bottom: -10px;
    content: "";
    left: -15px;
    outline: 1px solid transparent;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    transform: skewX(-6deg);
    width: 100%;
    z-index: -1;
}
.soc_content {
    align-content: space-between;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    float: right;
    height: 100%;
    line-height: normal;
    padding: 4px 5px 4px 0;
    position: relative;
    width: calc(100% - 90px);
    z-index: 0;
}
.soc_title {
    align-items: flex-start;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    justify-content: space-between;
    line-height: 18px;
    margin: 3px 0 0;
    width: 100%;
}
.soc_title .soc_product_name > a {
    text-decoration: none;
}
.soc_product_name > span {
    border-bottom: thin dotted;
    color: #777;
    cursor: help;
    font-size: 10px;
    font-weight: normal;
    margin: 0 3px;
    vertical-align: top;
}
.soc_product_name > span:hover {
    border: none;
}
.soc_title .product_price {
    color: #4cbc32;
    margin: 0 2px 0 0;
}
.soc_content .soc_support {
    color: #999;
    font-size: 13px;
}
.soc_content_bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.soc_bottom {
    color: #999;
    flex-shrink: 0;
    font-size: 18px;
    line-height: 1;
}
.soc_bottom .fa {
    color: #bbb;
    font-size: 13px;
    margin: 0 3px;
}
.soc_description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.soc_description::after {
    background: rgba(25, 55, 75, 0.9);
    box-sizing: border-box;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    left: -90px;
    line-height: 18px;
    opacity: 0;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    top: -140px;
    transition: all 0.4s ease-in-out 0s;
    white-space: normal;
    width: calc(100% + 90px);
}
.soc_description:hover::after {
    opacity: 1;
    top: 0;
    transition: opacity 0.25s ease-in 0s, top 0.4s ease-in-out 0s;
}


/* START кнопы фильтра */
.soc_sort {
    display: inline-block;
    margin: 5px;
}
.soc_button {
    background-color: #f2f2f2;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    margin: 4px 2px;
    padding: 6px 9px;
    transition: all 0.1s ease-in;
    vertical-align: middle;
}
.soc_button.active,
.soc_button:hover {
    background-color: #e5e5e5;
    border-color: #d5d5d5;
}
.soc_button.active {
    pointer-events: none;
}
.soc_sort_wrapper .fa {
    margin: 0 5px 0 0;
}
.soc_sort .fa.soc_button.disabled {
    color: #999;
    opacity: 0.6;
    pointer-events: none;
}
/* END кнопы фильтра */

@media screen and (max-width:480px) {
    .soc_first_line > span {
        display: block;
        font-size: 16px;
        font-weight: bold;
    }
    .soc_title .soc_product_name {
        font-size: 18px;
        line-height: 16px;
    }
    .soc_description::after {
        line-height: 16px;
    }
}
