.soc_list .soc_wrapper {
    animation: fadeIn .5s linear .2s forwards;
}
.soc_list .soc_blk {
    animation: fadeIn .5s linear .5s backwards;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    box-shadow: 3px 4px 10px -2px #e0e0e0;
    box-sizing: border-box;
    font-size: 14px;
    height: 90px;
    margin: 20px auto;
    max-width: 900px;
    overflow: hidden;
    position: relative;
    text-align: left;
    transition: all .15s ease-in;
    width: calc(100% - 10px);
}
.soc_list .soc_blk:hover{
    border-color: #ccc;
    box-shadow: 6px 6px 6px -3px #ccc;
}
.soc_list .soc_blk:nth-child(2){animation-delay:0.8s;}
.soc_list .soc_blk:nth-child(3){animation-delay:1.0s;}
.soc_list .soc_blk:nth-child(4){animation-delay:1.2s;}
.soc_list .soc_blk:nth-child(5){animation-delay:1.4s;}
.soc_list .soc_blk:nth-child(6){animation-delay:1.6s;}
.soc_list .soc_blk:nth-child(7){animation-delay:1.8s;}
.soc_list .soc_blk:nth-child(8){animation-delay:2.0s;}
.soc_list .soc_blk:nth-child(9){animation-delay:2.2s;}
.soc_list .soc_blk:nth-child(10){animation-delay:2.4s;}
.soc_list .soc_blk:first-child {
    margin: 3px auto 20px;
}
.soc_tl_ava {
    float: left;
    height: 100%;
    width: 90px;
}
.soc_list .soc_blk .soc_tl_ava img {
    border:  none;
    height: 100% !important;
    max-width: none;
    transform: translateX(-6px);
    transition: all 0.4s ease 0s;
    width: auto;
}
.soc_list .soc_blk .soc_tl_ava img:hover {
    transform: translateX(0px);
    transition: all 0.4s ease 0s;
}
.soc_blk .soc_tl_content::before {
    background-color: #fff;
    bottom: -10px;
    content: "";
    display: block;
    left: -15px;
    outline: 1px solid transparent;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    transform: skewX(-6deg);
    width: 100%;
    z-index: -1;
}
.soc_tl_content {
    align-content: space-between;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    float: right;
    height: 100%;
    line-height: normal;
    padding: 4px 5px 4px 0;
    position: relative;
    width: calc(100% - 90px);
    z-index: 0;
}
.soc_tl_title {
    align-items: flex-start;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    justify-content: space-between;
    line-height: 18px;
    margin: 3px 0 0;
    width: 100%;
}
.soc_tl_title .soc_tl_product_name > a {
    border-bottom: 2px solid transparent;
    text-decoration: none;
    transition: all .1s ease-in;
}
.soc_tl_title .soc_tl_product_name > a:hover {
    border-bottom-color: inherit;
    text-decoration: none;
}
.soc_tl_product_name > span {
    border-bottom: thin dotted;
    color: #777;
    cursor: help;
    font-size: 10px;
    font-weight: normal;
    margin: 0 3px;
    vertical-align: top;
}
.soc_tl_product_name > span:hover {
    border: none;
}
.soc_tl_title .product_tl_price {
    color: #4cbc32;
    margin: 0 2px 0 0;
}
.soc_tl_content .soc_tl_support {
    color: #999;
    font-size: 13px;
}
.soc_tl_content_bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.soc_tl_bottom {
    color: #999;
    flex-shrink: 0;
    font-size: 18px;
    line-height: 1;
}
.soc_tl_bottom .rcli {
    color: #bbb;
    font-size: 13px;
    margin: 0 3px;
}
.soc_tl_description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.soc_tl_description::after {
    background: rgba(25, 55, 75, 0.9);
    box-sizing: border-box;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    left: -90px;
    line-height: 18px;
    opacity: 0;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    top: -140px;
    transition: all 0.4s ease-in-out 0s;
    white-space: normal;
    width: calc(100% + 90px);
}
.soc_tl_description:hover::after {
    opacity: 1;
    top: 0;
    transition: opacity 0.25s ease-in 0s, top 0.4s ease-in-out 0s;
}

@media screen and (max-width:480px) {
    .soc_first_line > span {
        display: block;
        font-size: 16px;
        font-weight: bold;
    }
    .soc_tl_title .soc_tl_product_name {
        font-size: 17px;
        line-height: 15px;
    }
    .soc_tl_description::after {
        line-height: 16px;
    }
}
