.soc_full-width .soc_wrapper {
    animation: fadeIn .5s linear .2s forwards;
}
.soc_full-width .soc_blk {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    display: flex;
    line-height: normal;
    margin: 8px auto;
    overflow: hidden;
    transition: all .15s ease-in;
    width: calc(100% - 10px);
}
.soc_full-width .soc_blk:hover {
    border-color: #ccc;
    box-shadow: 6px 6px 6px -3px #ccc;
}
.soc_fw_left {
    align-self: center;
    flex-shrink: 0;
    max-width: 130px;
}
.soc_fw_ava {
    display: flex;
}
.soc_fw_ava img {
    border-radius: 0;
    border: none;
    height: 100%;
    margin: 0;
    transition: all .15s ease-in;
    width: 100%;
}
.soc_fw_ava img:hover {
    filter: saturate(130%);
    opacity: 0.85;
}
.soc_fw_right {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 2px 10px;
    width: 100%;
}
.soc_blk a.soc_fw_title {
    border-bottom: 2px solid transparent;
    font-size: 24px;
    line-height: 1.2;
    margin: 5px;
    text-decoration: none;
    transition: all .1s ease-in;
}
.soc_blk a.soc_fw_title:hover {
    border-bottom-color: inherit;
    text-decoration: none;
}
.soc_fw_description {
    font-size: 15px;
    padding: 0 15px;
    width: 100%;
}
.soc_fw_price {
    color: #ec8100;
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    padding: 3px 0;
    width: 100%;
}
@media screen and (max-width:480px) {
    .soc_fw_left {
        align-self: flex-start;
        max-width: 100px;
    }
    .soc_blk a.soc_fw_title {
        font-size: 20px;
        line-height: 20px;
        margin: 2px 0;
    }
}
