.soc_cnt {
    font-size: 16px;
    margin: 12px 0;
}

.soc-main_list .soc_blk {
    box-shadow: 3px 4px 10px -2px #e0e0e0;
    height: 130px;
    max-width: 900px;
    overflow: hidden;
}

.soc-main_list .soc-blk-ava {
    height: 100%;
    width: 110px;
}

.soc-main_list .soc-blk-ava-img {
    transform: translateX(-6px);
}

.soc-main_list .soc-blk-ava-img:hover {
    transform: translateX(0);
}

.soc_tl_content::before {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    left: -12px;
    outline: 1px solid transparent;
    position: absolute;
    top: 0;
    transform: skewX(-6deg);
    transform-style: preserve-3d;
    width: 100%;
    z-index: -1;
}

.soc_tl_content {
    align-content: space-between;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    line-height: normal;
    padding: 9px;
    position: relative;
    width: calc(100% - 110px);
    z-index: 0;
}

.soc_tl_title {
    align-items: flex-start;
    display: flex;
    font-size: 22px;
    font-weight: 500;
    justify-content: space-between;
    line-height: 18px;
    width: 100%;
}

.soc_tl_product_name {
    align-items: center;
    display: flex;
}

.soc_tl_title .soc_tl_product_name > a {
    text-decoration: none;
}

.soc_tl_title .soc_tl_product_name > a:hover {
    text-decoration: underline;
}

.soc_tl_product_name > span {
    border-bottom: thin dotted;
    color: #757575;
    cursor: help;
    font-size: 13px;
    font-weight: normal;
    margin: 0 9px;
}

.soc_tl_product_name > span:hover {
    border-color: transparent;
}

.product_tl_price {
    color: #197962;
    flex-shrink: 0;
    margin: 3px;
}

.soc_tl_support {
    color: #6a6a6a;
    font-size: 13px;
}

.soc_tl_bottom {
    color: #666;
    display: flex;
    flex-grow: 1;
    font-size: 18px;
    gap: 12px;
    justify-content: flex-end;
    margin: 0 3px;
}

.soc_tl_bottom > span {
    align-items: center;
    display: flex;
}

.soc_tl_bottom .rcli {
    color: #bbb;
    font-size: 13px;
    margin: 0 6px 0 3px;
}

.soc_tl_description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.soc_tl_description::after {
    background: rgba(25, 55, 75, .9);
    box-sizing: border-box;
    color: #fff;
    content: attr(data-title);
    left: -110px;
    line-height: 22px;
    opacity: 0;
    padding: 6px 12px;
    position: absolute;
    text-align: center;
    top: -140px;
    transition: all .4s ease-in-out;
    white-space: normal;
    width: calc(100% + 110px);
}

.soc_tl_description:hover::after {
    opacity: 1;
    top: 0;
    transition: opacity .25s ease-in, top .4s ease-in-out;
}

.soc_vip {
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .soc-main_list .soc-blk-ava {
        width: 90px;
    }

    .soc_tl_content {
        width: calc(100% - 90px);
    }

    .soc_tl_product_name > span,
    .soc_tl_support {
        display: none;
    }

    .soc_tl_title .product_tl_price,
    .soc_tl_title .soc_tl_product_name {
        font-size: 18px;
    }

    .soc_tl_description::after {
        left: -90px;
        line-height: 20px;
        width: calc(100% + 90px);
    }
}
